* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.border {
  border: 1px solid #64646471 !important;
  border-radius: 4px;
}

.border-left {
  border-left: 1px solid #64646471 !important;
}

.border-right {
  border-right: 1px solid #64646471 !important;
}

.border-top {
  border-top: 1px solid #64646471 !important;
}

.border-bottom {
  border-bottom: 1px solid #64646471 !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.content {
  background-color: #f8f9fa !important;
}

.content-title {
  font-size: 28;
}

.sidebar {
  background-color: rgba(17, 24, 39, 1);
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  width: 250px;
}

.sidebar a:hover:not(.sidebar-brand),
.sidebar a.active {
  border-bottom: 2px solid rgba(67, 76, 201, 0.5) !important;
  color: rgb(67, 76, 201) !important;
}

div.content {
  margin-left: 250px;
  min-height: 1000px;
  padding: 1px 16px;
}

.sidebar a:not(.sidebar-brand) {
  border-bottom: 2px solid rgba(156, 163, 175, 0.5);
  color: #f2f2f2;
  display: block;
  padding: 16px;
  text-decoration: none;
  transition: ease all 0.2s;
}

.sidebar ul {
  list-style-type: none;
  padding: 0px 5px;
}

.sidebar ul li {
  margin-left: 5px;
  width: 95%;
}

.sidebar-brand {
  align-items: center !important;
  border-bottom: 1px solid rgba(156, 163, 175, 0.5);
  color: #f2f2f2;
  height: 78px;
  text-align: center;
}

.sidebar-brand a {
  display: block;
  font-size: 1.25rem;
  margin-right: 0;
  margin-top: 0.5rem;
  padding: 1rem;
  white-space: nowrap;
}

.sidebar-brand h2 {
  border: 2px solid rgb(216, 218, 223);
  border-radius: 50%;
  display: inline;
  max-height: 2rem;
  max-width: 100%;
  padding: 0.5rem;
}

.navbar-brand {
  border-right: 1px solid rgba(156, 163, 175, 0.5);
  padding: 1.5rem;
}

.navbar-brand h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 900;
}

.topnav {
  background-color: rgba(17, 24, 39, 1);
  margin: -1px -16px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topnav span {
  color: #f2f2f2;
  float: right;
  font-size: 18px;
  padding: 1.75rem;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .sidebar a {
    float: none;
    text-align: center;
  }

  .container {
    max-width: 540px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }

  .sidebar {
    height: auto;
    position: relative;
    width: 100%;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
  .main-news .pagination a {
    font-size: 0.75rem !important;
    padding: 0.5rem !important;
    font-weight: normal !important;
    margin-top: 0.5rem;
  }
  .main-news .pagination a.direct:first-child,
  .main-news .pagination a.direct:last-child {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
  .main-news .news-list .news-list-section {
    flex-direction: column !important;
  }
  .news-list-section .section-news,
  .news-list-section .section-image {
    width: 100% !important;
  }
}

.form input[type="text"],
.form input[type="password"],
.form input[type="file"] {
  background: #f1f1f1;
  border: none;
  display: block;
  margin: 5px 0 22px 0;
  padding: 15px;
  width: 100%;
}

.form .box {
  background: #f1f1f1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px 0 22px 0;
  padding: 15px;
  width: 100%;
}

.form .radio {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 0.375rem 1rem;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-left: 1.5rem;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.form .radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.form .radio:hover input[type="radio"] ~ .checkmark {
  background-color: #ccc;
}

.form .radio input[type="radio"]:checked ~ .checkmark::after {
  display: block;
}

.form .radio input[type="radio"]:checked ~ .checkmark {
  background-color: #2196f3;
}

.form .radio .checkmark::after {
  content: "";
  display: none;
  position: absolute;
}

.form .radio .checkmark::after {
  background: white;
  border-radius: 50%;
  height: 4px;
  left: 6px;
  top: 6px;
  width: 4px;
}

.form .radio .checkmark {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.form textarea {
  background: #f1f1f1;
  border: none;
  display: block;
  margin: 5px 0 22px 0;
  overflow: auto;
  padding: 15px;
  resize: vertical;
  width: 100%;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="file"]:focus,
.form textarea:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -moz-user-select: none;
  opacity: 0.8;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  -webkit-user-select: none;
}

.btn-add:before {
  background: url("../img/icons/database.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-submit:before {
  background: url("../img/icons/save.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-edit:before {
  background: url("../img/icons/edit.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-option:before {
  background: url("../img/icons/ellipsis-h.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-detail:before {
  background: url("../img/icons/info-circle.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-extract:before {
  background: url("../img/icons/cloud-download-alt.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-search:before {
  background: url("../img/icons/search.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-delete:before {
  background: url("../img/icons/eraser.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn-reset:before {
  background: url("../img/icons/times.svg") no-repeat;
  content: "";
  display: block;
  filter: invert(100);
  float: left;
  height: 1rem;
  margin: 0.1rem 0.25rem 0 0;
  width: 1rem;
}

.btn:hover,
.btn:focus {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

.btn-primary:focus {
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
  color: #fff;
}

.btn-secondary:focus {
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  color: #fff;
}

.btn-success,
.alert.success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
  color: #fff;
}

.btn-success:focus {
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  color: #fff;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
  color: #fff;
}

.btn-info:focus {
  background-color: #138496;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  color: #fff;
}

.btn-warning {
  background-color: #ff9c07;
  border-color: #ff9c07;
  color: #fff;
}

.btn-warning:hover {
  background-color: #ff6207;
  border-color: #ff6207;
  color: #fff;
}

.btn-warning:focus {
  background-color: #ff6207;
  border-color: #ff6207;
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  color: #fff;
}

.btn-danger,
.alert.danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
  color: #fff;
}

.btn-danger:focus {
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  color: #fff;
}

.btn-light {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
}

.btn-light:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  color: #212529;
}

.btn-light:focus {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  color: #212529;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}

.btn-dark:hover {
  background-color: #23272b;
  border-color: #1d2124;
  color: #fff;
}

.btn-dark:focus {
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  color: #fff;
}

.btn-link {
  color: #007bff;
  font-weight: 400;
  text-decoration: none;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-link:focus {
  text-decoration: underline;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm.btn {
  border-radius: 0.2rem;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
}

.d-flex {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.table {
  border: 1px solid rgba(0, 0, 0, 0.534);
  border-collapse: collapse;
  color: #212529;
  margin-bottom: 1rem;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid rgba(0, 0, 0, 0.534);
  padding: 0.75rem;
  vertical-align: middle;
}

.table thead th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.534);
  vertical-align: bottom;
}

.table td.button-td {
  text-align: center;
}

.table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  color: #212529;
}

.row {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.text-danger {
  color: #dc3545 !important;
}

.text-muted {
  color: #6c757d !important;
}

.content-wrapper {
  background-color: #585656;
  border-radius: 0.7rem;
  box-sizing: border-box;
  color: #f1f1f1;
  margin-top: 2rem;
  padding: 3rem;
}

.header-h {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  font-weight: bold;
}

.header-left {
  margin: auto 0px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-content {
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto 5rem auto auto;
  padding: 0;
  position: relative;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  width: 70%;
}

@-webkit-keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

#btnCloseModal {
  color: #f2f2f2;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.8;
}

#btnCloseModal:hover,
#btnCloseModal:focus {
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
}

.modal-header {
  background-color: rgba(17, 24, 39, 1);
  color: #f2f2f2;
  padding: 2px 16px;
}

.modal-header h2 {
  opacity: 0.9;
}

.modal-body {
  padding: 2px 16px;
}

.alert {
  color: white;
  margin: 15px 0px;
  opacity: 1;
  padding: 20px;
  transition: opacity 0.6s;
}

#closeAlert {
  color: #f2f2f2;
  cursor: pointer;
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 15px;
  opacity: 0.8;
  transition: 0.3s;
}

#closeAlert:hover {
  opacity: 1;
}

.main-news {
  background-color: rgba(17, 24, 39, 1);
  min-height: 100%;
}
.main-news * {
  color: #f2f2f2;
}

.main-news a:hover {
  color: #f2f2f2b0;
}

.main-news .header-list,
.main-news .news-list,
.main-news .news-read {
  width: 80%;
  margin: 0 auto;
}
.main-news .header-list {
  margin-bottom: 2rem;
}

.news-read .news-top {
  display: flex;
  flex-direction: column;
}
.news-read .news-top img {
  max-width: 80%;
  margin: 1rem auto;
}
.news-read .news-top .desc-photo {
  margin: 1rem auto;
}
.news-read .news-bottom {
  text-align: justify;
  text-justify: inter-word;
}

.main-news .news-list,
.main-news .news-read {
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: rgba(242, 242, 242, 0.2);
}
.main-news .news-list .news-list-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news-list-section .section-image {
  width: 35%;
  text-align: center;
}

.news-list-section .section-news {
  width: 60%;
  padding-left: 1rem;
}
.news-list-section .section-news a h4 {
  opacity: 1;
}
.news-list-section .section-news a h4:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.section-news .read-more {
  color: #007bff;
}
.section-news .read-more:hover {
  color: #62aeff;
}

.main-news .list-anchor {
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.main-news .list-anchor a {
  margin: 0 1rem;
}
.main-news .img-thumbnail {
  padding: 0.25rem;
  /* background-color: #fff; */
  /* border: 1px solid #dee2e6; */
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.main-news .pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}
.main-news .pagination a {
  font-size: 1.35rem;
  padding: 0.75rem 1rem;
  font-weight: bolder;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  color: #f2f2f2;
  border-radius: 3px;
  transition: ease all 0.5s;
}
.main-news .pagination a:not(.direct) {
  margin-left: 0.25rem;
  margin-right: 0.15rem;
}
.main-news .pagination a.direct {
  background-color: transparent;
  border: 3px solid #ff9900;
  padding: 0.65rem 0.9rem;
  color: #ff9900;
}

.main-news .pagination a.direct {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.main-news .pagination a.direct:hover {
  background-color: #ff9900;
  color: #000;
}

.main-news .pagination a.active,
.main-news .pagination a:hover:not(.direct) {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: #000;
}

.main {
  align-items: center;
  background-color: rgba(17, 24, 39, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
  width: 100%;
}

.main .login-box {
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  max-width: 450px;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  width: 90%;
}

.main .login-box label,
.main .login-box input {
  display: block;
}

.main .login-box input {
  border-radius: 0.275rem;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.75rem;
  width: 100%;
}
